<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lite.system.dao.SystemMapper">
    <update id="createPermissionTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `code`         int(0)                                           NOT NULL COMMENT '权限代码',
            `description`  varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL COMMENT '权限描述',
            `created_time` datetime(0)                                      NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '创建时间',
            `updated_time` datetime(0)                                      NULL DEFAULT NULL ON UPDATE CURRENT_TIMESTAMP(0) COMMENT '更新时间',
            `deleted`      int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除',
            `version`      varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT '0' COMMENT '乐观锁',
            PRIMARY KEY (`code`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 4
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = '用户权限信息表'
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createUserTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `id`            bigint(0) UNSIGNED                               NOT NULL AUTO_INCREMENT COMMENT '主键ID',
            `mail`          varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL COMMENT '邮箱',
            `password`      varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL COMMENT '用户密码',
            `avatar`        varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '用户头像',
            `nick_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '昵称',
            `gender`        int(0)                                           NOT NULL COMMENT '性别',
            `description`   varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '用户的自我介绍',
            `birth`         varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '出生日期',
            `company`       varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '所属公司',
            `job`           varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '职业',
            `created_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '创建时间',
            `updated_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '更新时间',
            `deleted`       int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除,0代表未删除，1代表已删除',
            `permission_id` int(0)                                           NULL DEFAULT 0 COMMENT '用户权限',
            `version`       int(0)                                           NULL DEFAULT 0 COMMENT '乐观锁',
            PRIMARY KEY (`id`) USING BTREE,
            INDEX `role` (`permission_id`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 16
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = '用户信息表'
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createFileTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `id`            bigint(0)                                        NOT NULL AUTO_INCREMENT COMMENT 'id',
            `file_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NOT NULL COMMENT '文件名',
            `original_name` varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '原始文件名',
            `bucket`        varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '桶',
            `url`           varchar(500) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '文件访问url',
            `type`          varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '文件类型，即后缀',
            `upload_time`   varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '上传时间',
            `uploader`      bigint(0) UNSIGNED                               NOT NULL COMMENT '操作员',
            `deleted`       int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除',
            `access`        int(0)                                           NULL DEFAULT NULL COMMENT '访问权限，1是公有，0是私有',
            `version`       int(0)                                           NULL DEFAULT 0,
            PRIMARY KEY (`id`) USING BTREE,
            UNIQUE INDEX `file_id_uindex` (`id`) USING BTREE,
            INDEX `file_upload` (`uploader`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 35
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = '文件信息表'
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createApiTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `id`            bigint(0) UNSIGNED                               NOT NULL AUTO_INCREMENT COMMENT '主键ID',
            `simple_name`   varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '接口名称',
            `full_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '完整名称',
            `url`           varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '接口URL',
            `method`        varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '请求类型',
            `permission_id` bigint(0) UNSIGNED                               NULL DEFAULT NULL COMMENT '访问权限',
            `enable`        int(0)                                           NULL DEFAULT NULL COMMENT '是否启用',
            `deleted`       int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除',
            `created_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '创建时间',
            `updated_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '更新时间',
            `version`       int(0)                                           NULL DEFAULT 0 COMMENT '乐观锁',
            PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 158
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = '系统API信息表'
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createControllerTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `id`            bigint(0) UNSIGNED                               NOT NULL AUTO_INCREMENT COMMENT '主键ID',
            `url`           varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '模块url',
            `simple_name`   varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '名称',
            `package_name`  varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '包名',
            `full_name`     varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT NULL COMMENT '完整名称',
            `permission_id` int(0)                                           NULL DEFAULT NULL COMMENT '权限ID',
            `enable`        int(0)                                           NULL DEFAULT NULL COMMENT '是否启用',
            `created_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '创建时间',
            `updated_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '更新时间',
            `version`       varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT '0' COMMENT '乐观锁',
            `deleted`       int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除',
            PRIMARY KEY (`id`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 47
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = '系统controller信息表'
          ROW_FORMAT = Dynamic;
    </update>
    <update id="createApiCtrlTable" parameterType="java.lang.String">
        CREATE TABLE IF NOT EXISTS ${table}
        (
            `id`            bigint(0) UNSIGNED                               NOT NULL AUTO_INCREMENT COMMENT '主键ID',
            `controller_id` bigint(0) UNSIGNED                               NOT NULL COMMENT 'Ctrl ID',
            `api_id`        bigint(0) UNSIGNED                               NOT NULL COMMENT 'API ID',
            `created_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '创建时间',
            `updated_time`  datetime(0)                                      NULL DEFAULT NULL COMMENT '更新时间',
            `deleted`       int(0)                                           NULL DEFAULT 0 COMMENT '逻辑删除',
            `version`       varchar(255) CHARACTER SET utf8 COLLATE utf8_bin NULL DEFAULT '0' COMMENT '乐观锁',
            PRIMARY KEY (`id`) USING BTREE,
            INDEX `controller_key` (`controller_id`) USING BTREE,
            INDEX `api_key` (`api_id`) USING BTREE
        ) ENGINE = InnoDB
          AUTO_INCREMENT = 206
          CHARACTER SET = utf8
          COLLATE = utf8_bin COMMENT = 'API-Controller关系表'
          ROW_FORMAT = Dynamic;
    </update>

    <insert id="insertPermissionData">
        INSERT IGNORE INTO ${table} (code,description,created_time,updated_time) VALUES
        <foreach collection="permissionList" close="" open="" index="index" separator="," item="perm">
            (#{perm.code}, #{perm.description}, #{perm.createdTime}, #{perm.updatedTime})
        </foreach>
    </insert>
</mapper>
