<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lite.business.dao.article.ArticleMapper">
    <select id="selectList" resultType="com.lite.business.entity.article.Article">
        SELECT article.id,
               article.title,
               article.cover,
               article.summary,
               iu.id u_id,
               iu.nick_name,
               rau.status_id,
               article.created_time,
               article.updated_time,
               article.deleted,
               article.version
        FROM info_article article
                 join relation_article_user rau on article.id = rau.article_id
                 join info_user iu on rau.user_id = iu.id
        <where>
            <if test="statusId != null">
                rau.status_id = #{statusId}
            </if>
            <if test="original == true">
                and article.deleted = 0
            </if>
        </where>

        ORDER BY article.updated_time

        <if test="page == true">
            LIMIT #{offset},#{count};
        </if>
    </select>

    <select id="getArticleById" resultType="com.lite.business.entity.article.Article">
        SELECT article.id,
               article.title,
               article.cover,
               article.summary,
               article.content,
               iu.id u_id,
               iu.nick_name,
               rau.status_id,
               article.created_time,
               article.updated_time,
               article.deleted,
               article.version
        FROM info_article article
                 join relation_article_user rau on article.id = rau.article_id
                 join info_user iu on rau.user_id = iu.id

        <where>
            article.id = #{articleId}
            <if test="statusId != null">
                and rau.status_id = #{statusId}
            </if>
            <if test="original == true">
                and article.deleted = 0
            </if>
        </where>
    </select>
</mapper>
